.wrapper{
    display: flex;
    flex-direction: row;

}

.resCard{

    margin-left: 40px;
}

.sidePanel{
    margin: 0px 20px auto;
}

@media only screen and (max-width: 700px) {
    .wrapper {
      /* display:flex; */
      flex-direction: column;
      
    }

    
  }